:root {
	/*--main-bg-color: #084597;*/
	--main-bg-color: #020c1b;
	--main-txt-color: #ccc;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #171717;
}

body {
	background-color: var(--main-bg-color);
}

.overlay {
	background-color: var(--main-bg-color);
	display: none;
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
}

.overlay.show {
	display: block;
	opacity: 0.7;
}

.page {
	position: relative;
	min-height: 100vh;
}

.content {
	padding-bottom: 40px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	font-family: Helvetica, Arial, "Helvetic Neue", sans-serif;
	font-size: 1.5rem;
	font-weight: 100;
	color: var(--main-txt-color);
}

footer *, footer a * {
	color: var(--main-txt-color);
}

i {
	padding: 0 .5rem;
	color: var(--main-txt-color);
}

a, a:visited, a * {
	color: #0000d5;
}

a.none {
	text-decoration: none;
}

a.site {
	color: var(--main-txt-color);
}
	
#stations-dropdown {
	background-color: var(--main-bg-color);
	z-index: 105;
}

.dropbtn {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	padding: 1rem;
	font-size: 2.3rem;
	font-weight: bold;
	border: none;
	cursor: pointer;
	margin: auto;
	font-family: Helvetica, Arial, "Helvetic Neue", sans-serif;
	z-index: 105;
}

.dropbtn > * {
	pointer-events: none;
}

.bi-caret-down-fill {
	font-size: 1.3rem;
	fill: var(--main-txt-color);
}

.dropdown {
	position: relative;
	display: flex;
	justify-content: center;
}

.dropdown-content {
	position: absolute;
	top: -575px;
	left:50%;
	transform: translate(-50%);
	background-color: #ccc;
	z-index: 100;
	min-width: 340px;
	max-height: 500px;
	overflow-y: auto;
	transition: top 0.5s ease-out;
}

.dropdown-content a {
	color: #171717;
	text-decoration: none;
	font-family: Helvetica, Arial, "Helvetic Neue", sans-serif;
	font-weight: bold;
	padding: 1rem 1.4rem;
	font-size: 1.3rem;
	display: block;
}

.show {
	top: 75px;
	transition: top 0.7s ease-out;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}

.main-dashboard {
	width: 100%;
	margin: 0 auto 1rem auto;
	justify-content: center;
}

.card {
	background: linear-gradient(#b5b5b5, #ddd);
	flex: 0 0 0;
	min-width: 340px;
	height: 300px;
	font-family: Helvetica, Arial, "Helvetic Neue", sans-serif;
}

.card h3 {
	font-size: 1.3rem;
	padding: .5rem 0 0 .5rem;
}

.time {
	font-size: .7rem;
	font-weight: 200;
	padding-left: .5rem;
	padding-top: .2rem;
}

.bold {
	font-weight: bold;
}

.data-display-container-top {
	display: flex;
	flex-flow: row no-wrap;
	margin-top: 3rem;
}

.data-display-container-bottom {
	display: flex;
	flex-flow: row no-wrap;
	margin-bottom: 2rem;
}

.main-temp-data {
	text-align: center;
	margin: 1.5rem 0;
}

.col-3 {
	display: flex;
	flex-flow: row no-wrap;
	width: 33%;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

.col-2 {
	display: flex;
	flex-flow: row no-wrap;
	width: 49.5%;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

.swell-arrow {
	width: 25%;
}

.wind-arrow {
	width: 30%;
}

.data-display-container-top > div > * {
	text-align: center;
}

.data-display-container-bottom > div > * {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.ss-icon-container {
	margin-left: 5px;
	width: 30%;
}

.ss-data-container {
	width: 59%;
	margin-bottom: .8rem;
	padding-top: .4rem;
}

.ss-img {
	width: 80%;
}

.data {
	font-size: 2.7rem;
	font-weight: bold;
	text-align: center;
	padding: 0 1rem;
}

.current-temp {
	font-size: 3.5rem;
}

.current-arrow {
	width: 25%;
}

.weather-data {
	display: flex;
	justify-content: space-around;
}

.forecast-data {
	display: flex;
	justify-content: flex-start;
}

.weather-data-data {
	padding-top: 1rem;
	font-size: 1.4rem;
}

.forecast-icon-container {
	text-align: center;
	margin: 1rem;
}

.forecast-data-container-left {
	width: 55%;
	font-size: 1.4rem;
	margin-top: 1rem;
	padding: .8rem;
}

.forecast-data-container-right {
	width: 45%;
	font-size: 1.4rem;
	margin-top: 1rem;
	padding: .4rem;
}

.small {
	font-size: .9rem;
}

#weather-icon {
	width: 100px;
	padding-left: 1rem;
	margin-bottom: 2rem;
}

#forecast-icon {
	width: 85px;
}

.radar-frame {
	width: 340px;
	height: 300px;
}

@media(min-width: 481px) {
	.main-dashboard {
		width: 98%;
	}	
	.dropdown-content a:hover {background-color: #ddd;}
}