:root {
	--main-bg-color: #084597;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--main-bg-color);
}

.page {
	position: relative;
	min-height: 100vh;
}

.content {
	padding-bottom: 40px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.5rem;
	font-weight: 100;
	color: #eee;
}

.site {
	color: #eee;
}
	
i {
	padding: 0 .5rem;
	color: #eee;
}

a, a:visited {
	color: blue;
}

a.none {
	text-decoration: none;
}

.dropbtn {
	background-color: var(--main-bg-color);
	color: #eee;
	padding: 1rem;
	font-size: 2.3rem;
	font-weight: bold;
	border: none;
	cursor: pointer;
	margin: auto;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.dropbtn > * {
	pointer-events: none;
}

.bi-caret-down-fill {
	font-size: 1.3rem;
	color: #eee;
}

.dropdown {
	position: relative;
	display: flex;
	justify-content: center;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 75px;
	background: linear-gradient(#eee, #fff);
	min-width: 340px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	padding-top: .7rem;
	font-size: 1.3rem;
	display: block;
	text-align: center;
}

.dropdown-content a:last-of-type {
	padding-bottom: .7rem;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display: block}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}

.main-dashboard {
	width: 100%;
	margin: 0 auto 1rem auto;
	justify-content: center;
}

.card {
	background: linear-gradient(#eee, #fff);
	flex: 0 0 0;
	min-width: 340px;
	height: 300px;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.card h3 {
	font-size: 1.3rem;
	padding: .5rem 0 0 .5rem;
}

.time {
	font-size: .7rem;
	font-weight: 200;
	padding-left: .5rem;
	padding-top: .2rem;
}

.bold {
	font-weight: bold;
}

.data-display-container-top {
	display: flex;
	flex-flow: row no-wrap;
	margin-top: 3rem;
}

.data-display-container-bottom {
	display: flex;
	flex-flow: row no-wrap;
	margin-bottom: 2rem;
}

.main-temp-data {
	text-align: center;
	margin: 1.5rem 0;
}

.col-3 {
	display: flex;
	flex-flow: row no-wrap;
	width: 33%;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

.col-2 {
	display: flex;
	flex-flow: row no-wrap;
	width: 49.5%;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

.swell-arrow {
	width: 25%;
}

.wind-arrow {
	width: 30%;
}

.data-display-container-top > div > * {
	text-align: center;
}

.data-display-container-bottom > div > * {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.ss-icon-container {
	margin-left: 5px;
	width: 30%;
}

.ss-data-container {
	width: 59%;
	margin-bottom: .8rem;
	padding-top: .4rem;
}

.ss-img {
	width: 80%;
}

.data {
	font-size: 2.7rem;
	font-weight: bold;
	text-align: center;
	padding: 0 1rem;
}

.current-temp {
	font-size: 3.5rem;
}

.current-arrow {
	width: 25%;
}

.weather-data {
	display: flex;
	justify-content: space-around;
}

.forecast-data {
	display: flex;
	justify-content: flex-start;
}

.weather-data-data {
	padding-top: 1rem;
	font-size: 1.4rem;
}

.forecast-icon-container {
	text-align: center;
	margin: 1rem;
}

.forecast-data-container-left {
	width: 55%;
	font-size: 1.4rem;
	margin-top: 1rem;
	padding: .8rem;
}

.forecast-data-container-right {
	width: 45%;
	font-size: 1.4rem;
	margin-top: 1rem;
	padding: .4rem;
}

.small {
	font-size: .9rem;
}

#weather-icon {
	width: 100px;
	padding-left: 1rem;
	margin-bottom: 2rem;
}

#forecast-icon {
	width: 85px;
}

.radar-frame {
	width: 340px;
	height: 300px;
	padding: .5rem;
}

@media(min-width: 481px) {
	.main-dashboard {
		width: 98%;
	}	
}