* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color:#7EC0FF;
}

h1 {
	margin: .5rem 2rem .5rem;
	font-size: 2rem;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #eee;
}

a, a:visited {
	color: blue;
}

a.none {
	text-decoration: none;
}

#stations-link, #stations-link:visited {
	font-size: 1rem;
	font-weight: 100;
	color: #eee;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
}

.main-dashboard {
	width: 85%;
	margin: auto;
}

.card {
	background: linear-gradient(#eee, #fff);
	flex: 0 0 0;
	min-width: 380px;
	height: 320px;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.card h3 {
	font-size: 1.3rem;
	padding: .5rem 0 0 .5rem;
}

.time {
	font-size: .7rem;
	font-weight: 200;
	padding-left: .5rem;
	padding-top: .2rem;
}

.bold {
	font-weight: bold;
}

.data-display-container-top {
	display: flex;
	flex-flow: row no-wrap;
	margin-top: 3rem;
}

.data-display-container-bottom {
	display: flex;
	flex-flow: row no-wrap;
	margin-bottom: 2rem;
}

.main-temp-data {
	text-align: center;
	margin: 2rem 0;
}

.col-3 {
	display: flex;
	flex-flow: row no-wrap;
	width: 33%;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

.swell-arrow {
	width: 30%;
}

.wind-arrow {
	width: 30%;
}

.data-display-container-top > div > * {
	text-align: center;
}

.data-display-container-bottom > div > * {
	text-align: center;
	font-size: 1.7rem;
	margin-bottom: 2rem;
}

.ss-icon-container {
	justify-content: center;
	width: 35%;
}

.ss-data-container {
	width: 65%;
	margin-bottom: 1rem;
}

.ss-img {
	width: 70%;
	padding-left: .5rem;
}

.ss-time {
	padding: 1rem;
}

.data {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	padding: 0 1rem;
}

.current-temp {
	font-size: 4rem;
}

.current-arrow {
	width: 30%;
}

#temp {
	display: inline;
	width: 100%;
	padding-bottom: 1rem;
	font-size: 3rem;
	font-weight: bold;
}

#temp-label {
	padding-bottom: 1rem;
	font-size: 3rem;
	font-weight: bold;
}

.weather-data {
	display: flex;
	justify-content: space-around;
}

.forecast-data {
	display: flex;
	justify-content: flex-start;
}

.weather-data-data {
	font-size: 1.5rem;
	margin: 1rem;
}

.forecast-icon-container {
	text-align: center;
	margin: 1rem;
}

.forecast-data-container-left {
	width: 55%;
	font-size: 1.5rem;
	padding: 1rem;
}

.forecast-data-container-right {
	width: 45%;
	font-size: 1.5rem;
	padding: .7rem;
}

.small {
	font-size: 1rem;
}

#weather-icon {
	width: 120px;
	padding-left: 1rem;
	margin-bottom: 2rem;
}

#forecast-icon {
	width: 105px;
}

.radar-frame {
	width: 380px;
	height: 320px;
	padding: .5rem;
}