<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather Dashboard</title>
	
	<link rel="icon" href="/img/favicon.ico">
	<link rel="icon" href="/img/safari-pinned-tab.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
	<link rel="manifest" href="/img/site.webmanifest">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#e8e8e8">

	<link rel="stylesheet" href="/css/dashboard.css"/>
</head>
<body>

	<h1>Station <span th:text="${station.stationName}"></span> <a id="stations-link" href="/stations">select&nbspstation</a></h1>
	
	<div class="flex-container main-dashboard">
	
	<!-- ---------- Wave Data ---------- -->
	
		<div class="card" th:object="${seas}">
			<h3>Significant Wave Height</h3>
			<p class="time bold"><span><a class="none" th:href="@{${station.wavesSourceUrl}}" target="_blank">
							<span th:text="${station.wavesSourceName}"></span></a></span></p>
			<p class="time">Updated: <span th:text="${seas eq null} ? 'No Wave Data Available' : *{dateTimeString}"></span></p>
			<div class="data-display-container-top">
				<div class="col-3">
					<p><span class="data" th:text="${seas eq null} ? '---' : *{waveHeight}"></span></p>
				</div>
				<div class="col-3">
					<p th:unless="${seas eq null}"><img title="swell-arrow" class="swell-arrow" th:src="@{/img/swell-arrow.png}" th:style="'transform:rotate('+*{waveDirection}+'deg)'"/>
				</div>
				<div class="col-3">
					<p><span class="data" th:text="${seas eq null} ? '---' : *{dominantPeriod}"></span></p>
				</div>
			</div>
			<div class="data-display-container-bottom">
				<div class="col-3">
					<p>ft</p>
				</div>	
				<div class="col-3">
					<p th:unless="${seas eq null}"><span th:text="*{direction}"></span></p>
				</div>	
				<div class="col-3">
					<p><br>sec</p>
				</div>	
			</div>
		</div>
		
	<!-- ---------- Wind Data ---------- -->
		
		<div class="card"  th:object="${wind}">
			<h3>Wind</h3>
			<p class="time bold"><span th:unless="${wind eq null}"><a class="none" th:href="@{${station.windSourceUrl}}" target="_blank">
					<span th:text="${station.windSourceName}"></span></a></span></p>
			<p class="time">Updated: <span th:text="${wind eq null} ? 'No Wind Data Available' : *{dateTimeString}"></span></p>
			<div class="data-display-container-top">
				<div class="col-3">
					<p><span class="data" th:text="${wind eq null} ? '---' : *{windSpeed}"></span></p>
				</div>
				<div class="col-3">
					<p th:unless="${wind eq null}" ><img title="wind-arrow" class="wind-arrow" th:src="@{/img/wind-arrow.png}" th:style="'transform:rotate('+*{windDirection}+'deg)'"/>
				</div>
				<div class="col-3">
					<p><span class="data" th:text="${wind eq null} ? '---' : *{windGust}"></span></p>
				</div>
			</div>
			<div class="data-display-container-bottom">
				<div class="col-3">
					<p>kts</p>
				</div>
				<div class="col-3">
					<p th:unless="${wind eq null}" ><span th:text="*{direction}"></span></p>
				</div>
				<div class="col-3">
					<p><br>gust</p>
				</div>
			</div>
		</div>
		
	<!-- ---------- Current & Tide Data ---------- -->
		
		<div class="card" th:with="baseUrl='https://tidesandcurrents.noaa.gov/noaatidepredictions.html'">
			<h3>Current & Next Tide</h3>
			<p class="time bold"><span th:unless="${nextTide eq null}"><a class="none" th:href="@{${baseUrl}(id=${station.tideSourceId})}" target="_blank">
					<span th:text="${station.tideSourceName}"></span></a></span></p>
			<p class="time">Updated: <span th:text="${current eq null} ? 'No Current Data Available' : ${current.dateTimeString}"></span></p>
			<div class="data-display-container-top">
				<div class="col-3">
					<p><span class="data" th:text="${current eq null} ? '---' : ${current.velocity}"></span></p>
				</div>
				<div class="col-3">
					<p th:unless="${current eq null}"><img title="current-arrow" class="current-arrow" th:src="@{/img/currentarrow.png}" th:style="'transform:rotate('+${current.direction}+'deg)'"/></p>
				</div>
				<div class="col-3">
					<p th:unless="${current eq null}"><span class="data" th:text="${current.nextSlackTime}"></span></p>
					<p th:if="${current eq null}" th:unless="${nextTide eq null}"><span class="data" th:text="${nextTide.time}"></span></p>
				</div>
			</div>
			<div class="data-display-container-bottom">
				<div class="col-3">
					<p>kts</p>
				</div>			
				<div class="col-3">
					<p th:unless="${current eq null}"><span th:text="${current.type}"></span></p>
				</div>			
				<div class="col-3">
					<p th:unless="${current eq null}">Slack<br><span th:text="${current.nextSlackType}"></span></p>
					<p th:if="${current eq null}" th:unless="${nextTide eq null}"><span th:text="${nextTide.type}"></span></p>
				</div>			
			</div>
		</div>
		
	<!-- ---------- Current Weather ---------- -->
		
		<div class="card" th:object="${weather}">
			<h3 th:text="${station.city}"></h3>
			<p class="time">Updated: <span th:text="${weather eq null} ? 'No Data Available' : *{currentWeather.last_updated}"></span></p>
			<div class="main-temp-data">
				<p class="data current-temp"><span th:text="${weather eq null} ? '---' : *{currentWeather.temp_f}"></span>&deg</p>
				<p th:unless="${weather eq null}"><span th:text="*{currentWeather.condition.text}"></span></p>
			</div>
			<div th:unless="${weather eq null}" class="weather-data"> 
				<p><img title="weather-icon" id="weather-icon" th:src="*{currentWeather.condition.icon}"></p>
				<div class="weather-data-data">
					<p><span class="small">Feels like:&nbsp</span><span th:text="*{currentWeather.feelslike_f}"></span>&deg</p>
					<p><span class="small">Wind:&nbsp</span><span th:text="*{currentWeather.wind_mph}"></span> mph  &nbsp<img title="wind" id="wind" th:src="@{/img/wind.svg}"/>&nbsp
					<span th:text="*{currentWeather.wind_dir}"></span></p>
				</div>
			</div>
		</div>
		
	<!-- ---------- Forecast ---------- -->
		
		<div th:unless="${weather eq null}" class="card" th:object="${weather}">
		<div th:each="forecastDay : ${weather.forecast.forecastDay}">
			<h3>Today's Forecast - <span th:text="${forecastDay.date}"></span></h3>
			<div class="forecast-icon-container">
				<p><img title="forecast-icon" id="forecast-icon" th:src="${forecastDay.day.condition.icon}"></p>
				<p th:each="forecastDay : ${weather.forecast.forecastDay}"><span th:text="${forecastDay.day.condition.text}"></span></p>
			</div>
			<div class="forecast-data"> 
				<div class="forecast-data-container-left" th:each="forecastDay : ${weather.forecast.forecastDay}">
					<p><span class="small">Hi / Lo:&nbsp</span> <span th:text="${forecastDay.day.maxtemp_f}"></span>&deg/ <span th:text="${forecastDay.day.mintemp_f}"></span>&deg</p>
					<p><span class="small">Wind:&nbsp</span> <span th:text="${forecastDay.day.maxwind_mph}"></span> mph</p>
					<p><span class="small">Precip:&nbsp</span> <span th:text="${forecastDay.day.chance_of_precip}"></span>&#37</p>
				</div>
				<div class="forecast-data-container-right">
					<div class="flex-container">
					<div class="ss-icon-container">
						<img title="sunrise" class="ss-img" th:src="@{/img/sunrise.png}"/>
					</div>
					<div class="ss-data-container">
						<span class="ss-time" th:each="forecastDay : ${weather.forecast.forecastDay}"><span th:text="${forecastDay.astro.sunrise}"></span></span>
					</div>
					<div class="ss-icon-container">
						<img title="sunset" class="ss-img" th:src="@{/img/sunset.png}"/>
					</div>
					<div class="ss-data-container">
						<span class="ss-time" th:each="forecastDay : ${weather.forecast.forecastDay}"><span th:text="${forecastDay.astro.sunset}"></span></span>
					</div>
				</div>
				</div>
			</div>
		</div>
		</div>
		
	<!-- ---------- Windy Embed ---------- -->	
		
		<div class="card">
			<iframe title="Windy" class="radar-frame" th:src="@{${station.radarSource}}" frameborder="0"></iframe>	
		</div>
	</div>
	
	<script>
		window.setTimeout(function () {
			window.location.reload();
		}, 480000);
	</script>
</body>
</html>