<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wx Dashboard - Station List</title>

	<link rel="icon" href="/img/favicon.ico">
	<link rel="icon" href="/img/safari-pinned-tab.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
	<link rel="manifest" href="/img/site.webmanifest">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#e8e8e8">
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/stations.css"/>
</head>
<body>
<div class="page">
	<div class="content">
	<a href="javascript: document.logout.submit()" style="position:absolute;top:10px; left:20px;color:white;z-index:100">Logout</a>
	<form name="logout" th:action="@{/logout}" method="post" th:hidden="true">
		<input hidden type="submit" value="Sign Out"/>
	</form>
	<h1>Weather Dashboard</h1>
	<div class="container">
		<p class="description">Select a station</p>
		<div class="main-container">
			<div class="flex-container">
			<p class="station-link" th:each="station : ${stations}" th:object="${station}">
				<a class="bold" th:href="@{/stations/{id}(id=${station.stationId})}"><span th:text="*{stationName}"></span></a></p>
			</div>
		</div>
	</div>
	</div>
	
	<!-- ---------- Footer ---------- -->
	
	<footer th:replace="fragments/footer :: footer"></footer>
	
</div>
</body>
</html>